.btn-primary {
  color: azure;
  background-color: #1d2840 !important;
  border-color: #1d2840 !important;
  width: 200px;
}

.btn-primary:hover {
  background-color: #6E7FA5 !important;
  border-color: #6E7FA5 !important;
  cursor: pointer;
}

h2 {
  color: #1d2840;
}
